<html>
    <head>
        <title>Language Translator</title>
        <style>
            body {
            font-family: Arial;
            padding: 10px;
            background: #f1f1f1;
            }
        </style>
    </head>
    <body>
        <center>
        <h1>Language Translator</h1>
        </center> 
        <h3>The Language Translator Expects the file to be either: </h3>
        <ol>
            <ul>.xlsx</ul>
            <ul>.txt</ul>
            <ul>.csv</ul>
        </ol>
            

        <p>if you upload a file of any other type the webpage display's the message <b>File type not supported</b></p>
        <h3>if you're uploading a csv or xlsx file please make sure the first column contains the text to be tranlated(i.e. contains the text written in English)</h3>
        <p>if the language translator is unable to read the contents of the uploaded file the webpage display's the message <b>File not readable</b>......in case of such a message please make sure the columns of your file are well seperated</p>
                      
    </body>
</html>